<html>
    <template id="formulario">
        <div class="ed-container m-50">
       
        <form class="ui form" >

            <div class="ed-container">
                <div class="ed-item">
                    <center>
                        <h3>Solicitud para Mantenimiento de Equipos</h3>
                    </center>
                    
                </div>
            </div>
            <div class="ed-container">
                    <div class="field ed-item m-50 ">
                            <label for="fecha">Fecha</label>
                            <input type="date" name="fecha" id="fecha" required="true">
                    </div>
                    <div class="field ed-item m-50">
                            <label for="responsable">Reponsable</label>
                            <input type="text" name="responsable" id="responsable">
                    </div>
            </div>
           <div class="ed-container">
                <div class="field ed-item m-50">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email">
                </div>
                <div class="field ed-item m-50">
                        <label for="telefono">Telefono</label>
                        <input type="number" name="telefono" id="telefono">
                </div>
           </div>
            <div class="ed-container">
                    <div class="field ed-item m-50">
                            <label for="descripcion">Descripcion</label>
                            <input type="text" name="descripcion" id="descripcion">
                    </div>
                    <div class="field ed-item m-50">
                            <label for="Equipo">Equipo</label>
                            <input type="number" name="equipo" id="equipo">
                    </div>
            </div>        
            <div class="ed-container">
                    <div class="field ed-item">
                            <label for="tipoMantenimiento">Tipo Mantenimiento</label>
                            <input type="number" name="tipoMantenimiento" id="tipoMantenimiento">
                    </div>
            </div>
           <div class="ed-container" id="nodo1">
               <div class="ed-item" id="nodo2">
                    <button id="enviar" class="ui button" onclick="getData();">Enviar Solicitud</button>
               </div>
                
           </div>
           
        </form>
    
    </div>
        <style>
            @import url('http://localhost/ClienteMantenimiento/src/css/ed-grid.min.css');
            @import url('http://localhost/ClienteMantenimiento/src/css/semantic.min.css');
            #enviar {
                margin-top: 5%;
                color:white;
                background: darkslategray;
            }
            h3{
                color: blue;
            }
        </style>
    </template>
    <script>
        class FormSolicitud extends HTMLElement{
            constructor(){
                super();
                this.importDocument = document.currentScript.ownerDocument;
                let b= this.importDocument.querySelector('button');
                
            }

            connectedCallback(){
           
               let shadowRoot = this.attachShadow({mode: 'open'});
               const template = this.importDocument.querySelector('template').content;
               const instance = template.cloneNode(true);
               this.shadowRoot.appendChild(instance);

            }

        }
        


       function getData(){
                let data = {"idTipoMantenimiento":4,"observaciones":"se realiza un mantenimiento preventivo","tipoMantenimiento":"preventivo"}
                
                this.post(data);
            }

        function post(data){
                fetch('http://localhost:8080/MantenimientoTpi-1.0-SNAPSHOT/webresources/tipomantenimiento',{
                    method: 'POST',
                    headers:{
                        'Content-Type':'application/json',
                        'accept':'application/json'
                    },
                    body: JSON.stringify(data),
                    
                }).then(function(response){
                    console.log(response);
                    
                }).catch(function(err){
                    console.error(err);
                });
            }    
        
        window.customElements.define('form-solicitud',FormSolicitud);
        
    </script>
</html>